@import "../../../../assets/colors";

.container-fluid{
  height: 100%;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}


.panel{
  width:300px;
  min-width: 300px;
  height: 70%;
  background-color: $p-dark-blue;
  text-align: center; /* Center-align contents within the panel */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical centering */
  align-items: center; /* Horizontal centering */
  .title{
    color: $p-white;
    font-size: 6rem
  }
  .description {
    font-size: 24px;
    color: $p-white;
    opacity: 0; /* Start with opacity 0 (fully transparent) */
    animation: fade-in 2s ease-in-out forwards; /* Apply animation */
  }

  /* Define the @keyframes animation */
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
