
<div class="form-panel">
  <label class="title ">Signin</label>
  <form class="">

    <div class="form-input">
      <label class="mt-3" for="email"> Email </label>
      <input type="text"
             id="email"
             class=""
             [formControl]="authViewService.email"
             placeholder="Enter email"
             required autofocus="autofocus" />
      <div *ngIf="checkFormControl(authViewService.email)"
           class="alert-danger-parent">

        <div class="alert-danger" *ngIf="checkFormControl(authViewService.email)">
          Enter email
        </div>
      </div>
    </div>
    <div class="form-input">
      <label class="mt-3" for="email"> Password </label>
      <input type="password"
             id="password"
             class=""
             [formControl]="authViewService.password"
             placeholder="Enter password"
             required autofocus="autofocus" />
      <div *ngIf="checkFormControl(authViewService.password)"
           class="alert-danger-parent">

        <div class="alert-danger" *ngIf="checkFormControl(authViewService.password)">
          Enter password
        </div>
      </div>
    </div>
    <a class="link" (click)="register()">
      Register?
    </a>
    <button type="button" (click)="signin()" class="p-btn-white btn mt-4">Sigin</button>
  </form>
</div>
