<div class="gf-container ps-4">
  <div class="row">
    <!-- Left Column - User Information -->
    <div class="col-md-6 mt-4 order-sm-1">
      <div class="row">
        <!-- User Profile Image -->
        <div class="col-auto">
          <img src="{{'/assets/images/default_user.jpg'}} "
               alt="User Profile Image" class="img-fluid img-profile rounded">
        </div>
        <!-- User Information -->
        <div class="col-auto pt-3 ">
          <h3>{{user?.name + ' '}}</h3>
        </div>
      </div>
    </div>


  </div>


</div>

